{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% block header %}{% include ('admin/header.html.twig') %}{% endblock %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        {% block sidebar %}{% include ('admin/sidebar.html.twig') %}{% endblock %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <h3>Setting Page</h3>

                <td colspan="21">
                    <a href="{{ path('setting_new') }}"class="btn btn-success btn-fw">Create new</a></td>

                <td>



    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Company</th>
                <th>Email</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.title }}</td>
                <td>{{ setting.company }}</td>
                <td>{{ setting.email }}</td>
                <td>{{ setting.status }}</td>


                <td>
                    <a href="{{ path('setting_show', {'id': setting.id}) }}"class="btn btn-success btn-fw">Show</a>
                    <a href="{{ path('setting_edit', {'id': setting.id}) }}"class="btn btn-info btn-fw">Edit</a>

                </td>
            </tr>
        {% else %}
            <tr>

            </tr>
        {% endfor %}
        </tbody>
    </table>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% block footer %}{% include ('admin/footer.html.twig') %}{% endblock %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

{% endblock %}
