<!-- Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="widget">
                    <h4>About us</h4>
                    <address>
                        <strong>Ondokuz Mayıs Üniversitesi Rektörlüğü Yazışma Adresi :</strong><br>
                        Ondokuz Mayıs Üniversitesi Rektörlük Binası Kurupelit Kampüsü<br>
                        55139 Atakum / SAMSUN<br>
                        <abbr title="Phone"></abbr>Telefon : (362) 312 19 19 Santral
                    </address>

                    <address>
                        <strong>Contact us</strong><br>
                        <a href="mailto:#">E-Posta : iletisim@omu.edu.tr</a>
                    </address>
                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <h4>Browse pages</h4>
                    <ul class="nav nav-list regular">
                        <li class="nav-header">More from us</li>
                        <li><a href="#">Work for us</a></li>
                        <li><a href="#">Creative process</a></li>
                        <li><a href="#">Case study</a></li>
                        <li class="nav-header">Quick links</li>
                        <li><a href="#">Scaffold awwards</a></li>
                        <li><a href="#">Meet the team</a></li>
                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <h4>Get email updates</h4>
                    <form class="form-horizontal" action="#" method="post">
                        <fieldset>
                            <p>
                                Sign up for email updates and we'll plant a tree for you through Trees for the Future.
                            </p>

                            <div class="input-prepend input-append">
                                <input class="span2" id="appendedPrependedInput" type="text" placeholder="Email">
                                <button class="btn btn-inverse" type="submit">Subscribe!</button>
                            </div>
                        </fieldset>
                    </form>
                    <ul class="social_small">
                        <li class="facebook first"><a href="https://www.facebook.com/ondokuzmayis1975?ref=hl" title="Facebook">Facebook</a></li>
                        <li class="twitt"><a href="https://twitter.com/omurektorluk" title="Twitter">Twitter</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p>&copy; Scaffold - All right reserved</p>
                </div>
                <div class="span6">
                    <div class="pull-right">
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<script src="{{asset('assets')}}/js/jquery-1.8.2.min.js"></script>
<script src="{{asset('assets')}}/js/jquery.easing.1.3.js"></script>
<script src="{{asset('assets')}}/js/google-code-prettify/prettify.js"></script>
<script src="{{asset('assets')}}/js/modernizr.js"></script>
<script src="{{asset('assets')}}/js/bootstrap.js"></script>
<script src="{{asset('assets')}}/js/application.js"></script>
<script src="{{asset('assets')}}/js/nivo/setting.js"></script>
<script src="{{asset('assets')}}/js/hover/setting.js"></script>